<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<title>{{username}}'s Fitbit Summary Dashboard</title>
<script src='static/chart.min.js'></script>
<link href="static/styles.css" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet"/>
</head>

<body>

<h1>Fitbit Summary Dashboard</h1>
<h2>Welcome, {{username}}!&nbsp;&nbsp;&nbsp;Today is {{today}}.</h2>

<div class="container left">
  <h1>Weekly Calories</h1>

  <p>Weekly Difference so far:
    <span {% if in_weekly_deficit %}class="deficit"{% endif %}>
      {% if in_weekly_deficit == False %}+{% endif %}
      {{total_diff}}
    </span>
  </p>

  <div class="prediction">
    {% if in_weekly_deficit %}
      <p><b>At this rate, you'll lose {{ total_weight_loss_est }} pounds this week.</b></p>
    {% endif %}
  </div>

  <canvas id="weeklychart" height="400"></canvas>
</div>

<div class="container right">
  <h1>Daily Calories</h1>
  <p>Daily Difference so far:
    <span {% if in_daily_deficit %}class="deficit"{% endif %}>
      {% if in_daily_deficit == False %}+{% endif %}
      {{today_diff}}
    </span>
  </p>
  <p>You're doing great!</p>
  <canvas id="dailychart" height="400"></canvas>
</div>

<script>
// Weekly Chart
   var weeklyData = {
   labels : [{% for item in total_labels %}
                  "{{item}}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "rgba(151,187,205,0.8)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
         data : [{% for item in total_values %}
                      {{item}},
                    {% endfor %}]
      }
      ]
   }

   // get weekly chart canvas
   var weeklychart = document.getElementById("weeklychart").getContext("2d");

   steps = 10
   max = 20000
   // draw bar chart
   new Chart(weeklychart).Bar(weeklyData, {
        responsive: true,
        maintainAspectRatio: true,
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true
   });


// Daily Chart
   var dailyData = {
   labels : [{% for item in today_labels %}
                  "{{item}}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "rgba(148,0,211,.35)",
            strokeColor: "rgba(148,0,211,.35)",
            pointColor: "rgba(148,0,211,.35)",
         data : [{% for item in today_values %}
                      {{item}},
                    {% endfor %}]
      }
      ]
   }

   // get weekly chart canvas
   var dailychart = document.getElementById("dailychart").getContext("2d");

   steps = 10
   max = 3000
   // draw bar chart
   new Chart(dailychart).Bar(dailyData, {
        responsive: true,
        maintainAspectRatio: true,
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true
   });

</script>
</body></html>
